*{
  margin:0px;
  padding:0px;
  font-family: arial;
}
body{
  background-color: #05070D;
}
    /*--- nav bar---*/
.navbar{
  height: 70px;
  width: 1630px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }

.navlogo{
  height: 65px;
  width:180px;
  background-image: url("logo.jpg");
  background-size: cover;
  margin-right: 100px;
  margin-left: 50px;
}

.home{
  margin-right:30px;
  font-size: 20px;
}
.gamess{
  margin-right:30px;
  font-size: 20px;
}
.tournaments{
  margin-right: 30px;
  font-size: 20px;
}
.community{
  margin-right: 30px;
  font-size: 20px;
}
.news{
  margin-right: 30px;
  font-size: 20px;
} 
.shop{
  display: flex;
  margin-right: 200px;
  font-size: 20px;
}

.navsearch{
  display: flex;
}

.login{
  margin-left: 40px;
  margin-right: 20px;
}

.border{
  border:2px solid black;
  
}

.border:hover{
  border-bottom: 5px solid #500FD2;
  margin-top:15px;
  border-radius: 3px;
  color: #500FD2;
transition: 0.2s;
}
 
 .navsearch{
  height: 30px;
  width: 260px;
  border: 2px solid #000;
} 

.navsearch:hover{
  border: 2px solid #000;
}

.searchinput{
  border-radius: 20px 0 0 20px;
  border: 2px solid #fff;
}

.search-icon{
    width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.65rem;
  color:#000;
  background-color: #500FD2;
  border-radius: 0 20px 20px 0;
}

button{
  height: 30px;
  width: 70px;
  color: black;
  text-align: center;
  border: 0.5px solid black;
  border-radius: 20px;
  background-color: white;
}

.signup button{
  color: #fff;
  background-color: #500FD2;
}

   /*---herosection--- */
   
   .herosection{
     background-image:url("heroimage.jpg");
     height: 900px;
     width: 1630px;
     background-size: cover;
   }
   
   #herosection{
     font-size: 35px;
     letter-spacing: 4px;
     font-weight: 600;
     color: black;
     font-family: font-family: "Oxanium", sans-serif;
     -webkit-text-stroke: 0.2px white;
   }
   h1{
     font-size: 70px;
     line-height: 0.9;
     -webkit-text-stroke: 1px black;
     color: white;
   }
   #span{
     font-size: 100px;
     font-family:"Orbitron", sans-serif;
     color: #500FD2;
     -webkit-text-stroke: 1px black;
   }
   
   .herocontent{
    padding: 500px 0 0 0;
    margin-left: 70px;
   }
   
   .herop{
     font-size: 25px;
     color: white;
     width: 500px;
     line-height: 1;
     font-family: "rajdhani";
   }
   
   .playnow{
     height: 55px;
     width: 180px;
     background-color: #500FD2;
     color: white;
     border: none;
     margin-top: 25px;
     border-radius: 12px;
     transition: all 0.2s ease;
   }
   .playnow:hover {
    background: #9a4dff;
    transform: translateY(-4px);
    box-shadow: 0 0 20px rgba(123, 44, 255, 0.7);
   }
   .watchtrailer{
    height: 55px;
    width: 180px;
    background-color: black;
    color: white;
    border: none;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 12px;
    transition: all 0.2s ease;
   }
   
   .watchtrailer:hover {
  background: #7b2cff;
  color: white;
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(123, 44, 255, 0.7);
}

   /* ---Content--- */
   .content-header{
     height: 100px;
     width: 1630px;
     background-color: black;
     display: flex;
     align-items: center;
     color: white;
   }
   
   a{
     font-weight: 600;
     font-size: 30px;
     color: #500FD2;
     text-decoration: none;
     margin-left: auto;
     margin-right: 50px;
   }
   
   #featuredgames{
     color: #500FD2;
     margin-bottom: 10px;
     font-size: 20px;
   }
   
   #populargames{
     font-size: 30px;
   }
   
   .gamecontainer{
     display: flex;
     height: 500px;
     width: 1630px;
     background-color: black;
   }
   
   .gameinfo {
     color: #fff;
  padding: 350px 0 0 0;
  margin-left: 20px; 
}
   .box1{
     background-image:url("image1.jpg");
     height: 350px;
     width: 300px;
     margin-left:25px;
     margin-top: 20px;
     border: 2px solid black;
     border-radius: 10px;
     background-size: cover;
     transition: 0.2s ease;
     position: relative;
   }
   
   .box2 {
  background-image: url("image2.jpg");
  height: 350px;
  width: 300px;
  margin-left: 25px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-size: cover;
  transition: 0.4s ease;
  position: relative;
}

 .box3 {
  background-image: url("image3.jpg");
  height: 350px;
  width: 300px;
  margin-left: 25px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-size: cover;
  transition: 0.4s ease;
  position: relative;
}

 .box4 {
  background-image: url("image4.jpg");
  height: 350px;
  width: 300px;
  margin-left: 25px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-size: cover;
  transition: 0.4s ease;
  position: relative;
}

.box5 {
  background-image: url("image5.jpg");
  height: 350px;
  width: 300px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-size: cover;
  transition: 0.4s ease;
  position: relative;
}
 .game{
   font-size: 35px;
   transition: 0.3s;
 }
 .game:hover{
   color: rgb(145, 75, 255);
 }
 
 .box:hover{
   border: 3px solid #500FD2;
   transform: translateY(-15px);
 }
 
 .viewall {
  transition: 0.3s;
}

.viewall:hover {
  letter-spacing: 2px;
  color: rgb(145, 75, 255);
}
     /*---features--- */
     
.featuredbox{
  height: 320px;
  width: 1630px;
  margin-top: 25px;
  text-align: center;
  border-radius: 100px;
  color: #500FD2;
  padding: 40px 0 0 0; 
  margin-bottom: 20px;
  font-size: 35px;
  background: linear-gradient(
    135deg,
    #22113d,
    #140c2f,
    #090816
);

border: 1px solid #8b5cf6;

box-shadow: 0 0 25px rgba(139,92,246,0.45);

}

.features{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.features i{
  color: #500FD2;
  font-size: 80px;
  margin-top: 25px;
}

.features h4{
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.features p {
  font-size: 20px;
}

.upcomming{
  width: 1630px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
}

#upcommingh3{
  color: #500FD2;
}

/*--- upcomming games --- */

.upcomminggames{
  display: flex;
  justify-content: space-evenly;
  width: 1630px;
}
.games{
  height: 250px;
  width: 500px;
  transition: 0.3s;
  background-color: #111827;
  border-radius: 10px;
}

.game1{
  height: 250px;
  width: 225px;
  border-radius: 10px 0 0 10px;
  background-size: cover;
  background-image: url("image6.jpg");
  
}

.gameinfo1{
  color: white;
  width: 275px;
  padding: 30px 0 0 0;
  margin-left: 275px;
}

#gameh2 {
  color: white;
  margin-bottom: 15px;
}

#p1{
  color: #B8AFCB;
  margin-bottom: 20px;
}

#p2{
  color: #B8AFCB;
}

.gameinfo1 button{
  font-size: 20px;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #500FD2;
  height: 50px;
  width: 200px;
}

  /*---box 2--- */

.game2{
  height: 250px;
  width: 225px;
  border-radius: 10px 0 0 10px;
  background-size: cover;
  background-image: url("image7.jpg");
  
}

.gameinfo2{
  color: white;
  width: 275px;
  padding: 30px 0 0 0;
  margin-left: 275px;
}

#gameh2 {
  color: white;
  margin-bottom: 15px;
}

#p1{
  color: #B8AFCB;
  margin-bottom: 20px;
}

#p2{
  color: #B8AFCB;
}

.gameinfo2 button{
  font-size: 20px;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #500FD2;
  height: 50px;
  width: 200px;
}

/*---box 3--- */

.game3 {
  height: 250px;
  width: 225px;
  border-radius: 10px 0 0 10px;
  background-size: cover;
  background-image: url("image8.jpg");
  
}

.gameinfo3 {
  color: white;
  width: 275px;
  padding: 30px 0 0 0;
  margin-left: 275px;
}

#gameh2 {
  color: white;
  margin-bottom: 15px;
}

#p1 {
  color: #B8AFCB;
  margin-bottom: 20px;
}

#p2 {
  color: #B8AFCB;
}

.buttons {
  font-size: 20px;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #500FD2;
  height: 50px;
  width: 200px;
}

/*  hovering */


.games:hover {
  border: 3px solid #500FD2;
  transition: 0.2s;
  transform: translateY(-20px);
}

.buttons:hover{
  background: #9a4dff;
transform: translateY(-4px);
box-shadow: 0 0 20px rgba(123, 44, 255, 0.7);
}

/* ---latest news--- */

.latest{
  color: #500FD2;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.upcommingnews{
  width: 1630px;
  display: flex;
  justify-content: space-evenly;
}

.newss{
  height: 255px;
  width: 530px;
  transition: 0.3s;
  background-color: #111827;
  border-radius: 10px;
}
.newss:hover {
  border: 3px solid #500FD2;
  transition: 0.2s
  transform: translateY(-20px);
}

  /* ---news 1--- */
.news1{
  height: 255px;
  width: 250px;
  background-size: cover;
  background-image: url("image9.jpg");
  border-radius: 10px 0 0 10px;
}

.newsinfo1{
  color: white;
  padding: 20px 0 0 0;
  width: 270px;
  margin-left:260px;
}

.newsinfo1 p{
  color: #B8AFCB;
  font-size: 18.5px;
  padding: 40px 0 0 0;
}


/* ---news 2--- */
 
 .news2 {
  height: 255px;
  width: 250px;
  background-size: cover;
  background-image: url("image10.jpg");
  border-radius: 10px 0 0 10px;
}

.newsinfo2 {
  color: white;
  padding: 50px 0 0 0;
  width: 265px;
  margin-left: 270px;
}

.newsinfo2 p {
  color: #B8AFCB;
  font-size: 17px;
  padding: 40px 0 0 0;
}

/* ---news 3--- */

 .news3 {
   height: 255px;
   width: 250px;
   background-size: cover;
   background-image: url("image11.jpg");
   border-radius: 10px 0 0 10px;
 }
 
 .newsinfo3 {
   color: white;
   padding: 50px 0 0 0;
   width: 265px;
   margin-left: 250px;
 }
 
 .newsinfo3 p {
   color: #B8AFCB;
   font-size: 17px;
   padding: 40px 0 0 0;
 }
 
 .date{
   height: 50px;
   width: 50px;
   border-radius: 15px;
   margin-left: 0px;
   padding: 10px 0 0 0;
   color: white;
   border: 2px solid #500FD2;
   text-align: center;
   background-color: #111827;
 }
 
 /* ---footer--- */
 
 .footerbox{
   height: 250px;
   width: 1630px;
   margin-left: 25px;
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
 }
 
 .logopic{
   height: 65px;
   width: 180px;
   margin-bottom: 20px;
   background-size: cover;
   background-image: url("logo.jpg");
 }
 
 .container{
   width: 350px;
 }
 .description{
   color: white;
 }
 
 .description i{
   margin-top: 20px;
   margin-right: 30px;
   font-size: 25px;
 }
 
 .quicklinks {
   width: 150px;
   margin-top: 35px;
   margin-bottom: 10px;
   color: white;
 }
 .quicklinks a{
   margin-top: 30px;
   color: white;
   font-size: 15px;
 }
 
 .support{
   width: 135px;
   color: white;
   margin-top: 35px;
 }
 .support a{
   color: white;
   margin-top: 30px;
   font-size: 15px;
 }
 
 .communityy{
   color: white;
   margin-top: 35px;
   width: 90px;
 }
 .communityy a{
   color: white;
   margin-top: 30px;
   font-size: 15px;
 }
 
 .download{
   color: white;
   margin-top: 35px;
 }
 .pic1{
   height: 50px;
   width: 170px;
   margin-top: 30px;
   background-size: cover;
   background-image: url("google.jpg");
 }
  .pic2{
   height: 50px;
   width: 170px;
   margin-top: 20px;
   background-size: cover;
   background-image: url("appstore.jpg");
 }
 
 hr{
   width: 1630px;
   border: 0.5px solid white;
 }
 
 p{
   color: #B8AFCB;
   text-align: center;
 }